{% extends "Home/base.html" %}

{% block content %}
     <link href="static/css/search.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <form action="/artist_profile_page/<int:id_artists>" method="post">
    <div class="container" >
        <div class="row g-0">
            <div class="col-md-3">
                <img  src="{{ artist_image }}" style="width:300px;height:300px;" alt="PlaylistLogo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                         <h1 style="padding-left: 1px">{{ artist.art_name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="solid">
    </form>


{% endblock %}
