{% extends "Home/base.html" %}

{% block content %}
     <link href="static/css/search.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <form action="/artist_profile_page/<int:id_artists>" method="post">
    <div class="container" >
        <div class="row g-0">
            <div class="col-md-3">
                <img  src="{{ url_for('static', filename=artist_image) }}" style="width:300px;height:300px;" alt="PlaylistLogo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                         <h1 style="padding-left: 20px">{{ artist.art_name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="solid">
    <div class="col-md-6" >
        <div class="card-body shadow  mb-8 mb-md-6" >
        <h1 style="margin-left: initial">Recommended Songs</h1>
         <div class="card-list-song">
          <hr class="solid">
                {% for song in song %}
                    <div class="card-body lol">
                        <div class="row g-0 ">
                            <div class="col-md-2">
                                <img src="{{ url_for('static', filename=song[1]) }}" width="70" height="45" class="img-rounded" alt="PlaylistLogo">
                            </div>
                            <div class="col-sm">
                                <div class="card-title mona">
                                     <h6>{{ song[0].title }}</h6>
                                </div>
                                <p>{{ song[2].art_name }}</p>
                            </div>
                            <div class="col-sm">
                                <p>{{ song[0].type }}</p>
                            </div>
                            <div class="col-sm">
                                <p>{{ song[3] }}</p>
                            </div>
                            <div class="col-md-1">
                                <div class="dropdown">
                                    <button class="btn dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu" style="margin:4px; padding:4px; width: 300px; height: 350px; overflow-x: hidden; overflow-y: auto; text-align:justify;"  role="menu" aria-labelledby="dLabel">
                                        <form method="POST" action=""  class="live-search-box col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                                            <input  type="search" class="form-control filter" id="filter-playlist-home" onkeyup="searchPlaylistHome()" placeholder="Search.." aria-label="Search" >
                                        </form>
                                        {% for all in all_playlist %}
                                            <li class="card-body prova-home"><a class="dropdown-item"  href="{{ url_for('add_song_playlist', id_song=song[0].id_songs ,id_playlist=all.id_playlist, id_playlist_arr=all.id_playlist) }}">
                                                {{ all.name }}
                                            </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
         </div>
    </div>
    </div>
    </form>


{% endblock %}
