
{% extends "Home/base.html" %}



{% block content %}

    <br>
    <br>
    <h2>{{ artist.art_name }}</h2>
    <hr>
    <h3>Canzoni</h3>
    <div class="container">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
                </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Subheading</div>
                    Cras justo odio
                </div>
                <span class="badge bg-primary rounded-pill">14</span>
            </li>
        </ol>
        <hr>
        <h3>Album</h3>
    </div>

<!--
    <nav>
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2 " width="40" height="32" role="img" aria-label="Unify">
                        <img width="90" height="60" alt="Logo Image" src="{{ logo_image }}">
                        <img width="90" height="60" alt="Logo Image" src="static/Image/images.jpeg">
                        <img width="45" height="45" alt="Logo Image" src="static/Image/Netflix-avatar.png">
                    </svg>
                    <div class="col-md-4">
                        <img src="https://cloud.radiofreccia.it/RadioFreccia/News/Article/600x600/rhcp-fruscianteil-meglio-deve-ancora-arrivare-square-site-suszn.jpg" class="img-fluid rounded-start">
                    </div>
                </a>
            </div>
        </div>
    </nav>
-->
{% endblock %}



