<!doctype html>
<html lang="en">
    <head>

<!-- Questi due link vanno tenuti per avere l'interfaccia bella stile bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <title></title>

    </head>
    <body>
        {% include 'Home/navbar.html' %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script>
        function searchProduct(){
            const input = document.getElementById('filter').value.toUpperCase();
            const cardContainer = document.getElementById('card-list');
            const cards = document.getElementsByClassName('flip-card');
            const card_song = document.getElementsByClassName('card-header');
            console.log(cards);

            for(let i=0; i<cards.length+card_song.length; i++){
                let title = cards[i].querySelector(".flip-card-back h4.card-title");
                let title_song = card_song[i].querySelector(".card-body h6.card-title ");


                  txtValue = title.textContent || title.innerText;

                  if (txtValue.toUpperCase().indexOf(input) > -1) {
                    cards[i].style.display = "";
                  } else {
                    cards[i].style.display = "none";
                  }


            if(title_song){
                txtValue_song = title_song.textContent || title_song.innerText;
                if (txtValue_song.toUpperCase().indexOf(input) > -1) {
                    card_song[i].style.display = "";
                  } else {
                    card_song[i].style.display = "none";
                  }
            }
            }
        }
    </script>
</html>