{% extends "Home/base.html" %}

{% block content %}
    <br>
    <br>
    <h2>I nostri artisti</h2>
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Red Hot Chili Peppers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Arctic Monkeys</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Green Day</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Amon Amarth</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Slipknot</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">The Prodigy</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Kasabian</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-dark mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://ik.imagekit.io/bayc/assets/ape1.png" class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Oasis</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>Le tue playlist</h2>
{% endblock %}