{% extends "Home/base.html" %}

{% block content %}
    <br>
    <br>
    <h2>I nostri artisti</h2>
    <div class="row">
        {% for i in artists %}
            <div class="col-sm-3">
                <div class="card border-dark mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cloud.radiofreccia.it/RadioFreccia/News/Article/600x600/rhcp-fruscianteil-meglio-deve-ancora-arrivare-square-site-suszn.jpg" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="home_artista" href="{{ url_for('artist', id_artists=i.id_artists) }}" class="stretched-link"><h5 class="card-title">{{ i.art_name}}</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
        <a class="home_artista" href="{{ url_for('pl_page')}}"><h2>Le tue playlist</h2></a>
    <hr>
    <hr>
        <a class="home_artista" href="{{ url_for('album_list_page')}}"><h2>I tuoi album</h2></a>
    <hr>
{% endblock %}