{% extends "Home/base.html" %}

{% block content %}
    <br><br>
    <h1 class="text-center">Create a Playlist</h1>
    <br><br>

    <!-- TODO: aggiungere alert se non si inseriscono i campi -->

    <form method="POST">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div class="form-floating mb-3">
                    <!-- <input type="text" class="form-control" Id="id" placeholder="Playlist name" name="name"> -->
                    <!-- <input type="text" class="text-info my-input" name="name" required="required" /> -->
                    <!-- <label for="name">Playlist name</label> -->
                    <input type="text" class="form-control" Id="name" placeholder="Playlist name" name="name">
                    <label for="name">Playlist name</label>
                </div>
            </div>
            <div class="col-sm-3">
                <label>Type: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="checkbox_public" value=1 name="type" checked>
                    <label class="form-check-label" for="checkbox_public">Public</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="checkbox_private" value=0 name="type">
                    <label class="form-check-label" for="checkbox_private">Private</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="description" placeholder="Description" name="description">
                    <label for="description">Description</label>
                </div>
            </div>
        </div>

    </form>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-sm-1">
            <form class="d-flex" method="POST" action="{{ url_for('playlists') }}">
                <button type="submit" class="btn btn-secondary"     >Create Playlist</button>
            </form>
            </div>
        </div>
{% endblock %}