
{% extends "Home/base.html" %}

{% block content %}
    <link href="static/css/search.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{ playlist_logo }}" style="width:300px;height:300px;" alt="PlaylistLogo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <div class="card-title">
                     <h1 style="padding-left: 1px">{{ playlist.name }}</h1>
                </div>
                    <div class="card-list-song">
                        <p>{{ playlist.description }}</p>
                        <p>{{ playlist.date_creation }}</p>
                    </div>

            </div>
        </div>
    </div>
   <hr class="solid">
    <div class="container">
        {% for play in playlist_list_song %}
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-1">
                        <img src="{{ play[1] }}" width="60" height="60" class="img-rounded" alt="PlaylistLogo">
                    </div>
                    <div class="col-sm">
                        <div class="card-title">
                             <h5>{{ play[0].title }}</h5>
                        </div>
                        <p>{{ play[2].art_name }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ play[0].type }}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{ play[3] }}</p>
                    </div>
                    <div class="col-md-1">
                        <div class="dropdown">
                            <button class="btn dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="">Rimuovi il brano dalla playlist</a></li>
                                <li class="dropdown-item ">
                                    <div class=" dropdown-item">
                                      <a class="dropdown-item" href="#">
                                        Aggiungo alla playlist &raquo;
                                      </a>
                                      <ul class="dropdown-menu dropdown-submenu">
                                        <li>
                                          <a class="dropdown-item" href="#">Submenu item 1</a>
                                        </li>
                                      </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>



    </div>

{% endblock %}
